@(message: String)(implicit request: RequestHeader)

@main(message) {
  <div id="search">
      <form>
          Enter something to whine about:
          <input type="text" id="whine"><br>
          <input type="button" onclick="triggerWS()" value="Submit">
          <input type="button" onclick="stopTweets()" value="Stop">
          <input type="button" onclick="clearTweets()" value="Clear">
      </form>

  </div>
  <br>
  <div id="tweets"></div>

  <script type="text/javascript">
      var url = "@routes.TweeterController.tweetsWS().webSocketURL()";

      var initTweetSocket = function() {
          var tweetSocket = new WebSocket(url);

          tweetSocket.onmessage = function (event) {
              // TODO: add try-catch in case we couldn't parse event.data as JSON
              // even though server-side guarantees that it's messages are valid JSON strings.
              if (event.data == "Stream is closed") {
                  // TODO: display something
              } else {
                  var data = JSON.parse(event.data);
                  if (data && data.text) {
                      var tweetDiv = document.createElement("div");
                      var tweet = document.createElement("blockquote");
                      tweet.className = "twitter-tweet";
                      var text = document.createTextNode(data.text);

                      tweet.appendChild(text);
                      tweetDiv.appendChild(tweet);
                      document.getElementById("tweets").appendChild(tweetDiv);
                  }
              }
          };

          tweetSocket.onopen = function () {
              tweetSocket.send("subscribe");
          };

          tweetSocket.onclose = function () {
              // TODO: when websocket connection is closed by backend
          };

          return tweetSocket;
      };

      var currentTweetSocket = initTweetSocket();

      var triggerWS = function() {
          var whine = document.getElementById("whine").value;
          if (whine && whine.length > 0) {
              currentTweetSocket.send(whine);
          } else {
              // TODO: replace with tooltip
              alert("Enter something!");
          }
      };

      var stopTweets = function() {
          currentTweetSocket.close();
          currentTweetSocket = initTweetSocket();
      };

      var clearTweets = function() {
          document.getElementById("tweets").innerHTML = "";
      };
  </script>
}
